# Arquivos de ambiente
.env
.env.local

# Diretórios originais e de backup
__original/
__backup/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Diretórios de ambiente virtual
venv/
ENV/
env/

# Arquivos de cache do Streamlit
.streamlit/

# Arquivos de log
*.log

# Arquivos de banco de dados
*.db
*.sqlite
*.sqlite3

# Arquivos temporários
.temp/
.tmp/
temp/
tmp/

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Arquivos de sessão
.ipynb_checkpoints/
